<html>
  <head>
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
    #<div>Microblog: <a href="/index">Home</a></div>
    <hr>                                          #<hr>的意思是：添加一条水平线
    {% with messages = get_flashed_messages() %}  #Flask有一个函数是get...，赋予变量messages
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>