<html>
  <head>
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
	
    {% if title %}
    <title>{{title}} - elife</title>
    {% else %}
    <title>elife</title>
    {% endif %}
	
	{% macro render_field(field, size) %}
	<tr>
		<td>{{ field.label }}：</td>
		<td>{{ field(**kwargs)|safe }}</td>

		<td>
			<div style='overflow-y:auto;height:40px; font-size: 8px;'>
				{% if field.errors %}
				{% for error in field.errors %}
				<li><span style="color: red;">[{{ error }}]</span></li>
				{% endfor %}
				{% else %}
				{% endif %}
			</div>
		</td>
	</tr>
	{% endmacro %}
  </head>
  <body>                            
    {% with messages = get_flashed_messages() %}   
		{% if messages %}
		
			<ul>
			{% for message in messages %}
				<li>{{ message }} </li>
			{% endfor %}
			</ul>
		{% endif %}
    {% endwith %}
	
    {% block content %}{% endblock %} 
  </body>
</html>