<!-- extend from base layout -->
<!doctype html>
{% extends "orderBase.html" %}      #这里extends意思是扩展自base.html，意思是调用login.html的时候，预先要读取base.html

{% block content %} 
  {% from "orderBase.html" import render_field %}
  <form action="" method="post" name="billAdd" style="margin-left:10px;margin-top:10px" > 
	<h1 style="margin-left:80px">订单信息 </h1>
    {{ form.hidden_tag() }} 
	<table>
		{{ render_field(form.orderTargetType, size=20) }} 
		{{ render_field(form.orderTarget, size=20) }} 
		
		{{ render_field(form.orderPrice, size=20) }}  
		<tr style="text-align: center;">
		  <td> {{ form.orderNum.label }}：</td>
		  <td> {{ form.orderNum }} </td>
		  <td> <input class="min" name="" type="button" value="-" /><input class="add" name="" type="button" value="+" /></td> 
		</tr>
		<tr style="text-align: center;">
		  <td> {{ form.orderRebate.label }}：</td>
		  <td> {{ form.orderRebate }} </td>
		  <td> <input class="min2" name="" type="button" value="-" /><input class="add2" name="" type="button" value="+" /></td> 
		</tr> 
		{{ render_field(form.orderMoney, size=20) }} 
		
		{{ render_field(form.orderUsrName, size=20) }} 
		{{ render_field(form.orderUsrPhone, size=20) }} 
		{{ render_field(form.orderAddress, size=20) }}  
	</table>   
	<p style="margin-left:110px"><input type="button" id="btnC" value="取消订单"><input style="margin-left:10px" type="submit" id="btn" value="确认订单"></p> 
	
	<datalist id="lstTypes"></datalist>
	<datalist id="lstTargets"></datalist> 
	<datalist id="lstUsers"></datalist> 
	<datalist id="lstPhones"></datalist> 
	<datalist id="lstAddress"></datalist> 
		
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!--Get请求-->

	<script type="text/javascript">
		var data={
			'name':'kikay',
			'age':18
		};
		
		var tradeNum=1.0;
		var tradeRebate=0.0;
		var tradeMoney=0.0;
		var dataUserInfos=JSON.parse("{}", null);  
		var dataOrderSets=JSON.parse("{}", null);  
		var dataTargets=null;
		var dataTarget=null;
		$(document).ready(function () {
			<!--动态获取配置信息-->
			$.get('/zxcWebs/order/Sets',  {type:'{{orderType}}'}, function(data){   
				dataOrderSets = JSON.parse(data, null);  
				
				<!--遍历Json串获取类型--> 
				$("#lstTypes").empty();
				var objTypes = document.getElementById('lstTypes'); 
				for(var item in dataOrderSets){  
					objTypes.appendChild(new Option(item, item));   
				};
			});		 
				 
			<!--订单商品列表更改-->
			document.getElementById('orderTargetType').addEventListener('change',function(){
				<!--遍历Json串获取类型-->
				$("#lstTargets").empty();
				var objTargets = document.getElementById('lstTargets');  
				dataTargets = dataOrderSets[this.value]
				for(var item in dataTargets){  
					objTargets.appendChild(new Option(item, item));   
				}; 
			},false); 			
			<!--订单商品选择，更新相关设置-->
			document.getElementById('orderTarget').addEventListener('change',function(){
				dataTarget = dataTargets[this.value] 
				$("#orderPrice").val("￥" + dataTarget.价格.toFixed(2).toString() + "  / " + dataTarget.单位); 
				$("#orderNum").val(tradeNum.toString() + " " + dataTarget.单位);
				$("#orderRebate").val("￥" + tradeRebate.toFixed(2).toString());
				setTotal();
			},false);  
		
			<!--订单商品选择，更新相关设置-->
			$("#orderUsrName").on('input propertychange change',function () { 
				if(!('usrName_Fulls' in dataUserInfos)) 
					setUserInfo(this.value, ''); 
				else{
					var exist = false
					var items = dataUserInfos['usrName_Fulls'];
					for(var item in items){   
						if(items[item] == this.value) 
							exist = true;
					}; 
					if(!exist) setUserInfo(this.value, ''); 
				};
			});  
			$("#orderUsrPhone").on('input propertychange change',function () {  
				if(this.value.length > 2){
					if(!('usrPhones' in dataUserInfos)) 
						setUserInfo("", this.value); 
					else{
						var exist = false
						var items = dataUserInfos['usrPhones'];
						for(var item in items){   
							if(items[item] == this.value) 
								exist = true;
						}; 
						if(!exist) setUserInfo("", this.value); 
					};
				};
			});  
			
			<!--动态查询用户信息-->
			function setUserInfo(usrName, usrPhone)	{			
				$.get('/zxcAPI/robot/user/query',  {name: usrName, phone: usrPhone}, function(data){   
					var jsonUserInfos = JSON.parse(data, null);  
					var change = false;   
					
					<!--更新匹配用户信息--> 
					var items = jsonUserInfos['usrName_Fulls'] ;
					if(items != false){
						$("#lstUsers").empty();
						var objUsers = document.getElementById('lstUsers');  
						for(var item in items){   
							objUsers.appendChild(new Option(items[item], items[item]));   
						};  
						change = true;
					} 
					 
					var items = jsonUserInfos['usrPhones'] ;
					if(items != false){
						$("#lstPhones").empty();
						var objPhones = document.getElementById('lstPhones');   
						for(var item in items){   
							objPhones.appendChild(new Option(items[item], items[item]));   
						}; 
						change = true;
					}
					 
					if(change){
						$("#lstAddress").empty();
						var objAddrs = document.getElementById('lstAddress');  
						var items = jsonUserInfos['usrAddresss'] 
						for(var item in items){   
							objAddrs.appendChild(new Option(items[item], items[item]));   
						}; 
						dataUserInfos = jsonUserInfos
					} 
				});	
			}; 
			
			<!--控件调整，绑定下拉辅助输入列表-->
			$("#orderTargetType").attr("list",'lstTypes'); 
			$("#orderTargetType").attr("autocomplete",'off');  
			$("#orderTarget").attr("list",'lstTargets'); 
			$("#orderTarget").attr("autocomplete",'off'); 
			
			$("#orderPrice").attr("readonly",'readonly'); 
			$("#orderNum").attr("readonly",'readonly'); 
			$("#orderNum").attr("autocomplete",'off');  
			$("#orderRebate").attr("autocomplete",'off'); 
			$("#orderMoney").attr("readonly",'readonly');   
			$("#orderMoney").attr("autocomplete",'off');   
			
			$("#orderUsrName").attr("list",'lstUsers'); 
			$("#orderUsrName").attr("autocomplete",'off');  
			$("#orderUsrPhone").attr("list",'lstPhones');  
			$("#orderUsrPhone").attr("autocomplete",'off');  
			$("#orderAddress").attr("list",'lstAddress'); 
			$("#orderAddress").attr("autocomplete",'off');   
			
			<!--数量增减-->
			$(".add").click(function() {  
				tradeNum = tradeNum + 1;
				if(dataTarget != null)
				{
					$("#orderNum").val(tradeNum.toFixed(dataTarget.单位精度) + " " + dataTarget.单位);
					setTotal();
				}
			}); 
			$(".min").click(function() {
				if(tradeNum>0)
				{
					tradeNum = tradeNum - 1;
					$("#orderNum").val(tradeNum.toFixed(dataTarget.单位精度) + " " + dataTarget.单位);
					setTotal(); 
				}
			});
			
			$(".add2").click(function() {  
				tradeRebate = tradeRebate + 1;
				if(dataTarget != null)
				{
					$("#orderRebate").val("￥" + tradeRebate.toFixed(2).toString());
					setTotal();
				}
			}); 
			$(".min2").click(function() {
				if(tradeRebate>-10000)
				{
					tradeRebate = tradeRebate - 1;
					$("#orderRebate").val("￥" + tradeRebate.toFixed(2).toString());
					setTotal();
				}
			});
			
			function setTotal()	{
				tradeMoney = tradeNum * dataTarget.价格 - tradeRebate;
				$("#orderMoney").val("￥" + tradeMoney.toFixed(2).toString()); 
			}; 
		});
		
		
		function getKey()
		{
			if(event.keyCode==13){	
				alert('click enter'); 
			}   
		};
				
		<!--动态更新分类-->
		window.onload = function () {	
		}; 
	</script>
	
  </form>
{% endblock %}