<!-- extend from base layout -->
<!doctype html>
{% extends "base.html" %}      #这里extends意思是扩展自base.html，意思是调用login.html的时候，预先要读取base.html

{% block content %} 
  {% from "base.html" import render_field2 %}
<form action="" method="post" name="stockQuoteSet" style="margin-left:10px;margin-top:10px">
	{{ form.hidden_tag() }}
	<style>
		.data {
			width: 350px;
		}

		.params {
			margin: 10px 0;
			font-size: 13px;
		}

			.params input {
				width: 150px;
				height: 26px;
				box-sizing: border-box;
			}

			.params .search-btn {
				float: right;
				width: 100px;
				height: 30px;
				border: 0 none;
				background-color: #666;
				color: #fff;
				font-size: 12px;
				margin-left: 12px;
			}

		.table {
			width: 100%;
			border-collapse: collapse;
			text-align: center;
			margin-left: 10px;
		}

		th {
			border: 1px solid #999;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
		}

		.td {
			border: 1px solid #999;
			height: 26px;
			line-height: 26px;
			font-size: 13px;
		}

		.no-data {
			display: none;
			height: 80px;
			line-height: 80px;
			text-align: center;
			color: #aaa;
		}

		.typecut {
			float: right;
			width: 100%;
		}

			.typecut:hover {
				background-color: #ccc;
				cursor: pointer;
			}
	</style>

	<h1 style="margin-left:30px">风控监测设置 </h1>
	<div style="margin-left:16px;vertical-align:top;">
		<div style="float:left; margin-left:6px;">
			<table>
				{{ render_field2(form.stockID, size=20) }}
				{{ render_field2(form.stockName, size=20) }}
				{{ render_field2(form.stockDate, size=20) }}

				{{ render_field2(form.stockPrice, size=20) }}
				{{ render_field2(form.stockNum, size=20) }}
				{{ render_field2(form.monitorUsrID, size=20) }}
			</table>
			<div style="clear:both;margin-top:0px;">
				<p style="margin-left:100px;">{{ form.remove|safe }} {{ form.save|safe }}</p>
				<datalist id="lstDateTags"></datalist>
			</div>
		</div>
		<div style="float:left; width: 300px; vertical-align:top;margin-left:6px;">
			<!---<p style="margin-left:10px"><B>交易记录：</B></p>-->
			<table class="table">
				<thead>
					<tr>
						<th>序号</th>
						<th>数量</th>
						<th>均价</th>
						<th>时间</th>
					</tr>
				</thead>
				<tbody id="data_list"></tbody>
			</table>
		</div>
		<div style="clear:both;"></div>
	</div>

	<div style="margin-left: 16px;vertical-align:top;">
		<p style="margin-left:6px"><B>监测设置：</B></p>
		<div style="float:left; margin-left:6px;">
			<table>
				{{ render_field2(form.fixHit, size=20) }}
				{{ render_field2(form.limitHit, size=20) }}
				{{ render_field2(form.deltaProfit, size=20) }}
			</table>
		</div>
		<div style="clear:both;"></div>
	</div>

	<div style="margin-left:16px;vertical-align:top;">
		<div style="clear:both;margin-top:0px;">
			<p style="margin-left:6px"><B>风控设置：</B></p>
		</div>
		<table style="float:left;margin-left:6px;">
			{{ render_field2(form.stopProfit_Dynamic, size=20) }}
			{{ render_field2(form.stopProfit, size=20) }}
			{{ render_field2(form.stopProfit_Retreat, size=20) }}
			{{ render_field2(form.stopProfit_Trade, size=20) }}
		</table>
		<table style="float:left;margin-left:6px;">
			{{ render_field2(form.stopLoss_Dynamic, size=20) }}
			{{ render_field2(form.stopLoss, size=20) }}
			{{ render_field2(form.stopLoss_Retreat, size=20) }}
			{{ render_field2(form.stopLoss_Trade, size=20) }}
		</table>
		<div style="clear:both;"></div>
	</div>


	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<script src="/static/JS/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
        var jsonRisks_set = JSON.parse("{}", null);
		$(document).ready(function () {
            $.ajax({
                url: '/zxcAPI/robot/stock/quoteset_risk/query',
                type: 'get',
                data: {
                    usrID: '{{usrName_Nick}}',
                    stockTag: '{{code_id}}',
                    stockName: '{{code_name}}'
                },
                success: function (res) {
                    alert("asda");
                    jsonRisks_set = JSON.parse(res, null);
					if (jsonRisks_set['success'] == 1) {
                        lstDateTags = jsonRisks_set['data']['dataTags']
                        //window.location.reload();

						//更新dateTag列表
						var items = jsonRisks_set['data']['dataTags'];
						if (items != false) {
							$("#lstDateTags").empty();
							var objDateTags = document.getElementById('lstDateTags');
							for (var item in items) {
                                objDateTags.appendChild(new Option(items[item], items[item]));
							};
						};
                    } else {
                        //alert(jsonRisks_set['data']);
                    }
                }
			});

            $("#stockDate").on('change', function () {
                if (this.value.length < 2) return;
                refreshInfo_set(this.value);
			});

			$("#stopProfit_Dynamic").on('change', function () {
                if ($("#stopProfit_Dynamic").prop("checked")) {
                    $('#stopProfit').attr("disabled", false);
                    $('#stopProfit_Trade').attr("disabled", false);
                    $('#stopProfit_Retreat').attr("disabled", false);
				}
                else {
                    $("#stopProfit").attr("disabled", 'disabled');
                    $("#stopProfit_Trade").attr("disabled", 'disabled');
                    $("#stopProfit_Retreat").attr("disabled", 'disabled');
				};
            });
            $("#stopLoss_Dynamic").on('change', function () {
                if ($("#stopLoss_Dynamic").prop("checked")) {
                    $('#stopLoss').attr("disabled", false);
                    $('#stopLoss_Trade').attr("disabled", false);
                    $('#stopLoss_Retreat').attr("disabled", false);
                }
                else {
                    $("#stopLoss").attr("disabled", 'disabled');
                    $("#stopLoss_Trade").attr("disabled", 'disabled');
                    $("#stopLoss_Retreat").attr("disabled", 'disabled');
                };
            });


			<!--提取并设置配置信息-->
			function refreshInfo_set(dateTag) {
                bExist = true;
				if (jsonRisks_set == null) { bExist = false; };

                pRisk = jsonRisks_set['data']['setInfos'][dateTag]
                if (pRisk == null) { bExist = false; };
				if (bExist) {
					$("#stockDate").val(dateTag);
					$("#stockPrice").val(pRisk['标的均价']);
					$("#stockNum").val(pRisk['标的数量']);

                    $("#fixHit").attr("checked", pRisk['定量监测']);
                    $("#limitHit").attr("checked", pRisk['边界监测']);
					$("#deltaProfit").val(pRisk['监测间隔']);
                    if ($("#deltaProfit").val() == "0.00") { $("#deltaProfit").val(0.0025); };

                    $("#stopProfit_Dynamic").attr("checked", pRisk['动态止盈']);
                    $("#stopProfit").val(pRisk['止盈线']);
                    $("#stopProfit_Retreat").val(pRisk['止盈回撤']);
                    $("#stopProfit_Trade").val(pRisk['止盈比例']);

                    $("#stopLoss_Dynamic").attr("checked", pRisk['动态止损']);
                    $("#stopLoss").val(pRisk['止损线']);
                    $("#stopLoss_Retreat").val(pRisk['止损回撤']);
                    $("#stopLoss_Trade").val(pRisk['止损比例']);

					//更新同步交易信息
					updaTradeinfos(dateTag);
				}
				return;
			};

			<!--更新同步交易信息-->
			function updaTradeinfos(dateTag) {
                bExist = true;
				if (jsonRisks_set == null) { bExist = false; };

				pTradeinfos = null;
				if (bExist) {
					pRisk = jsonRisks_set['data']['setInfos'][dateTag]
					if (pRisk == null) {
						bExist = false;
					}
					else
					{
						pTradeinfos = pRisk['操作日志']
						if (pTradeinfos == null) { bExist = false; };
					};
				};

				//更新数据界面
				if (bExist) {
					ind = 1;
					var html = '';
					for (var item in pTradeinfos) {
						html += '<tr>' +
								'<td class="td"">' + ind + '</td>' +
								'<td class="td"">' + pTradeinfos[item]['股数'] + '</td>' +
								'<td class="td"">' + pTradeinfos[item]['股价'] + '</td>' +
								'<td class="td"">' + pTradeinfos[item]['时间'] + '</td>' +
								'<tr>';
						ind = ind + 1;
						$('#data_list').html(html);
					};
				};
			};


			<!--控件调整，绑定下拉辅助输入列表-->
			$("#stockDate").attr("list",'lstDateTags');
            $("#stockDate").attr("autocomplete", 'off');

            $("#stockID").attr("disabled", 'disabled');
            $("#stockID").val('{{code_id}}');
            $("#stockName").attr("disabled", 'disabled');
            $("#stockName").val('{{code_name}}');

            $("#monitorUsrID").attr("disabled", 'disabled');
			$("#monitorUsrID").val('{{usrName_Nick}}-{{usrPlat}}');
            $("#deltaProfit").val(0.0025);
		});
	</script>

</form>
{% endblock %}