<!-- extend from base layout -->
<!doctype html>
{% extends "company_base.html" %}      #这里extends意思是扩展自base.html，意思是调用login.html的时候，预先要读取base.html

{% block content %}
  {% from "company_base.html" import render_field %}
<form action="" method="post" name="stockQuery" style="margin-left:10px;margin-top:10px">
    {{ form.hidden_tag() }}

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">企业基本信息</h1>
        <table cellspacing="0" cellpadding="0">
            {{ render_field(form.companyID, size=20, hasSearch=false) }}
            {{ render_field(form.companyName, size=20, hasSearch=false) }}

            {{ render_field(form.companyInStreet, size=20) }}
            {{ render_field(form.companyInVillage, size=20) }}
            {{ render_field(form.companyAdrr, size=20) }}

            {{ render_field(form.companyScale, size=20) }}
            {{ render_field(form.companyContacts, size=20) }}
            {{ render_field(form.companyPhone, size=20) }}
        </table>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">活性炭工艺信息 </h1>
        <table cellspacing="0" cellpadding="0">
            {{ render_field(form.companyHasProcess, size=20) }}
            {{ render_field(form.companyNumProcess, size=20) }}
            {{ render_field(form.companyRecycle, size=20) }}
            {{ render_field(form.companyVolumeTotal, size=20) }}

            {{ render_field(form.companyRedate, size=20) }}
            {{ render_field(form.companyRevolume, size=20) }}
            {{ render_field(form.companyTransferredvolume, size=20) }}
            {{ render_field(form.companyNoTransferredvolume, size=20) }}
        </table>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件1 -- 新活性炭购买发票</h1>

        <div class="content-img" maxImg="1" fileSize="4" img-list-ind="1">
            <ul class="content-img-list" id="img-list_1">
                <!--<li class="content-img-list-item"> <img src="/img/base/add_img.jpg" alt=""><a index='0' class="delete-btn"><i class="ico-delete"></i></a></li>-->
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_1" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            新活性炭购买发票，上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>

    <!--<div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件2 -- 废活性炭转移凭证</h1>
        <div class="content-img" maxImg="1" fileSize="4">
            <ul class="content-img-list" id="img-list_2">
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_2" img-list-id="img-list_2" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            废活性炭转移凭证，上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件3 -- 含活性炭处理工艺的废气处理设施全貌图</h1>
        <div class="content-img" maxImg="1" fileSize="4">
            <ul class="content-img-list" id="img-list_3">
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_3" img-list-id="img-list_3" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            含活性炭处理工艺的废气处理设施全貌图，上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件4 -- 处理设施中用来填装活性炭的箱体图片</h1>
        <div class="content-img" maxImg="1" fileSize="4">
            <ul class="content-img-list" id="img-list_4">
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_4" img-list-id="img-list_4" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            处理设施中用来填装活性炭的箱体图片，上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件5 -- 更换活性炭时现场施工图片</h1>
        <div class="content-img" maxImg="1" fileSize="4">
            <ul class="content-img-list" id="img-list_5">
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_5" img-list-id="img-list_5" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            更换活性炭时现场施工图片，上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>

    <div class="upload-content">
        <h1 style="margin-left:0px; height: 55px; vertical-align: middle;">附件6 -- 填装新活性炭后箱体内部图片</h1>
        <div class="content-img" maxImg="1" fileSize="4">
            <ul class="content-img-list" id="img-list_6">
            </ul>
            <div class="file">
                <i class="ico-plus"></i>上传图片<input type="file" name="file" accept="image/*" id="upload_6" img-list-id="img-list_6" onchange="event_uploadImg(this)">
            </div>
        </div>
        <div class="upload-tips">
            填装新活性炭后箱体内部图片（要求能看到新换上的活性炭），上传1张图片，支持jpg/png，单张不超过4M。
        </div>
    </div>-->


    <div class="upload-submit">
        {{ form.save|safe }}
        {{ form.query|safe }}
    </div>
    <br />


    <!--企业规模列表-->
    <datalist id="lstCompanyScales">
        <option value="大型">
        <option value="中型">
        <option value="小型">
        <option value="微型">
    </datalist>

    <!--活性炭工艺列表-->
    <datalist id="lstCompanyHasProcess">
        <option value="是">
        <option value="否">
    </datalist>


    <link rel="stylesheet" type="text/css" href="/static/content/upload_img.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/scripts/upload_img.js"></script>
    <script src="/static/scripts/tyshyxdm.js"></script>
    <script type="text/javascript">
        var jsonCompany = JSON.parse("{}", null);
        $(document).ready(function () {
            //控件调整，绑定下拉辅助输入列表
            $("#companyID").val('{{companyID}}');
            $("#companyScale").attr("list", 'lstCompanyScales');
            $("#companyHasProcess").attr("list", 'lstCompanyHasProcess');

            //更新成功提示
            if ('{{editSucess}}' == 'True') {
                alert("信息更新成功！")
            }
            
            //公司信息动态查询与更新  
            if ('{{needRefresh}}' == 'True') {
                updatInfo($("#companyID").val(), $("#companyName").val());
            }
        });


        //公司信息动态查询
        function iconSearch(event) {
            updatInfo($("#companyID").val(), $("#companyName").val());
        };
        //公司信息动态查询与更新
        function updatInfo(companyID, companyName) {
            if (companyID != "" | companyName != "") {
                $.get('/zxcAPI/company/query', { company_id: companyID, company_name: companyName }, function (data) {
                    jsonCompany = JSON.parse(data, null);

                    if (jsonCompany != null & '{{needRefresh}}'=='True') {
                        //更新匹配公司信息
                        $("#companyID").val(jsonCompany['companyID']);
                        $("#companyName").val(jsonCompany['companyName']);
                        $("#companyInStreet").val(jsonCompany['companyInStreet']);
                        $("#companyInVillage").val(jsonCompany['companyInVillage']);
                        $("#companyAdrr").val(jsonCompany['companyAdrr']);
                        $("#companyScale").val(jsonCompany['companyScale']);
                        $("#companyContacts").val(jsonCompany['companyContacts']);
                        $("#companyPhone").val(jsonCompany['companyPhone']);

                        //更新匹配公司工艺信息
                        $("#companyHasProcess").val(jsonCompany['companyHasProcess']);
                        $("#companyNumProcess").val(jsonCompany['companyNumProcess']);
                        $("#companyRecycle").val(jsonCompany['companyRecycle']);
                        $("#companyVolumeTotal").val(jsonCompany['companyVolumeTotal']);

                        $("#companyRedate").val(jsonCompany['companyRedate']);
                        $("#companyRevolume").val(jsonCompany['companyRevolume']);
                        $("#companyTransferredvolume").val(jsonCompany['companyTransferredvolume']);
                        $("#companyNoTransferredvolume").val(jsonCompany['companyNoTransferredvolume']);

                        //更新匹配公司图片信息
                        $("#imgName_1").val(jsonCompany['imgName_1']);
                        $("#imgName_2").val(jsonCompany['imgName_2']);
                        $("#imgName_3").val(jsonCompany['imgName_3']);
                        $("#imgName_4").val(jsonCompany['imgName_4']);
                        $("#imgName_5").val(jsonCompany['imgName_5']);
                        $("#imgName_6").val(jsonCompany['imgName_6']);

                        //initImgList("img-list_1", jsonCompany['imgName_1'], true);
                        //initImgList("img-list_2", jsonCompany['imgName_2'], true);
                        //initImgList("img-list_3", jsonCompany['imgName_3'], true);
                        //initImgList("img-list_4", jsonCompany['imgName_4'], true);
                        //initImgList("img-list_5", jsonCompany['imgName_5'], true);
                        //initImgList("img-list_6", jsonCompany['imgName_6'], true);
                    };
                });
            };
        };
    </script>
</form>
{% endblock %}

